<div class="nested-fields"> 
  
         <div class="cook_method edit_cook">
           <%= f.text_area :content, size: "20x3", class: "cook_content", placeholder: "調理内容を入力してください" %>  
         </div>
         <div class="cook_method_img">
           <%= f.file_field :cooking_image, id:"cooking_image", style: "display: "";" %> 
         </div>
         <div>
          <%= link_to_remove_association "❌", f %> 
         </div> 
         <%# <div class="nazo">
          <div id="detail-association-insertion-point"></div>
         </div>           %>
   
    
</div>
