
<div class="nested-fields">
  <div class="card cook_content">
    <div class="card-body">
      <div>
        <%= f.text_area :content, size: "20x3", class: "cook_content", placeholder: "調理内容を入力してください" %>
      </div>
      
      <div class="input-group">
        <label class="input-group-text" for="inputGroupFile01" >調理画像</label>
        <%= f.file_field :cooking_image, id:"inputGroupFile01",  class:"form-control"%>
        <%= link_to_remove_association "❌", f, class:"btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>