<div class="nested-fields">
   <div class="card">
      <div class="card-body">
         <div class="input-group">
            <%= f.text_field :name, placeholder: "材料を入力", class:"form-control"%>
            <%= f.text_field :quantity, placeholder: "分量を入力", class:"form-control" %>
            <%= link_to_remove_association "❌", f, class:"batu"%>
         </div>
         
         
      </div>
   </div>
   
    
</div>