<div class="nested-fields matarial-margin">
   <div class="card border-0" >  
     <div class="input-group border-bottom">
            <%= f.text_field :name, placeholder: "材料を入力", class:"form-control border-0 mt-name"%>
            <%= f.text_field :quantity, placeholder: "分量を入力", class:"form-control border-0 quantity"%>
            <%= link_to_remove_association "❌", f, class:"btn btn-outline-secondary border-0 btn-sm" %>
         
      </div>
   </div>
</div>