<div class='main'>
  <div class='add_material_btn'>
    材料をクリックしてください
  </div>
  <div class='material_main'>
    <div class='nested_field'>
      <div class='whole_cooks'>
        <div class='flex_mq'>
          材料/分量
        </div>
        <div class='cooks_content'>
          <div class='nested_field'>
            調理方法と写真
          </div>
          <div class='cooks_method'>
            調理方法を追加してくださbtn
          </div>
        </div>
        <div class='add_cook'>
          nazo1(調理方法) 
        </div>
      </div>
    </div>
  </div>
  <div class='add_material2'>
    nazo2(材料/分量) 
  </div>
</div>



<div class='main'>
  <div class='add_material_btn'>
    材料をクリックしてください
  </div>
  <div class='material_main'>
    <div class='nested_field'>
      <div class='whole_cooks'>
        <div class='flex_mq'>
          材料/分量
        </div>
        <div class='add_material2'>
          nazo2(材料/分量) 
        </div>
        <div class='cooks_content'>
          <div class='nested_field'>
            調理方法と写真
          </div>
          <div class='cooks_method'>
            調理方法を追加してくださbtn
          </div>
        </div>
        <div class='add_cook'>
          nazo1(調理方法) 
        </div>
      </div>
    </div>
  </div>
</div>
