* {
  box-sizing: border-box;
}



.top-page-header {
  width: 100%;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color: #d8ebd5;
  opacity: 0.8;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.cook-do-icon {
  width: 25vw;
  background-color: rgb(220, 250, 136);
  border-radius: 50%;
}

.cook-do-action{
  position: relative;
  display: inline-block;
  padding: .5em 4em;
  /* border: 2px solid #fff; */
  color: #fff;
  text-align: center;
  text-decoration: none;
  outline: none;
  overflow: hidden;
}

.cook-do-action::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.cook-do-action:hover::after {
  animation: circle .75s;
}
@keyframes circle {
  50% {
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: lightblue;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 36px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
  list-style: none;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
}

/* .brand-list {
  text-decoration: none;
  color: #333333;
} */

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  font-size: 16px;
}

.recipe_new {

  text-decoration: none;
  color: orange;
  margin-right: 3vw;
  font-size: 16px;
}

.logout {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-size: 16px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
}