
.selector-for-some-widget {
  box-sizing: content-box;
}


.cook-do1{
  width: 100px;
  height: 50px;
}


footer {
  background-color: rgb(236, 245, 217);
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: rgb(187, 198, 248);
  font-size: 10px;
}









