@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap/scss/bootstrap';

/* /* ses reg周り/* */

ul.error-list {
  text-align: inherit;
  list-style: none;
  text-decoration-line: underline;
  text-decoration-color: chocolate;
}

.login-flash-message {
    text-decoration-line: underline;
    text-decoration-color: brown;
    margin-bottom: 30px;
}

.container-fluid.reg_main {
  background-color: #f0fff780;
  /* width: 100%; */
}
.container.reg-wrapper {
    max-width: 500px;
}
h1.form-header-text {
  text-align: center;
  margin: 50px 0 30px 0;
}
p.info-text {
  text-decoration-line: underline;
  text-decoration-color: violet;
  margin-top: 10px;
}
.register-btn {
  display: flex;
  justify-content: center;
}
input.btn.btn-outline-dark {
   margin: 30px 0 100px 0;
   width: 100%;
}
/* /* ses reg周りここまで/* */

/* /* タイトル、タイトルイメージ周り/* */

.row.ma-2.top-wrapper {
  justify-content: center;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

textarea#recipe_title {
  width: 100%;
  height: auto;
  border: 3px solid #c8cde6;
  /* border-radius: 2%; */
  font-size: 30px;
}

.top-wrapper{
  margin-bottom: 50px;
}

.image_wrapper{
  width: 280px;
  height: 280px;
}
.image-ls{
  background-image: url("/images/kitchen.jpeg");
  background-size:cover;
  width: 280px;
  display:block;
  height: 170px;  
}

/* /* タイトル、タイトルイメージ周りここまで/* */


/* /* マテリアル,クック周り/* */
.add-material-cook.d-flex {
margin: 0 0 15px 0px;
justify-content: space-around;
}
.cook_content{
  width: 100%;
  height: auto;
  font-size: 20px;
}

.row.ma-2.material_cook {
  justify-content: center;
}
/* /* マテリアル、クック周り ここまで/* */


.material-l{
  justify-content: center;
}

.actions{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
img{
  width: 280px;
  max-width: 100%;
  height: auto;
}


/* /* show周り /* */

p.card-text.cook-method {
  text-decoration-line: underline;
  text-underline-offset: 0.2em;
  text-decoration-color: #052a3c70;
  text-decoration-style: dotted;
}
.card.quantity {
  overflow: scroll;
}
/* /* showまわり ここまで/* */



.selector-for-some-widget {
  box-sizing: content-box;
}

.cook-do1{
  width: 100px;
  height: 50px;
}

footer {
  background-color: rgb(236, 245, 217);
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: rgb(187, 198, 248);
  font-size: 10px;
}

/* /* index周り/* */

.index_con{
  
}

.container-fluid.index_main {
  background-image: url("/images/back.png");
  background-size:cover;
}
h4.card-title {
  border-bottom: 1px dotted #eea149;
}

h6.user_name {
  border-bottom: 1px dotted #eea149;
}
.index_body{
  background-color: #89b4bb45;
  border: 1px solid #b3c9c5bd;
}    
/* /* index周りここまで/* */

input.btn.btn-outline-dark.recipe-btn {
  width: 150px;
}
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 10px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}