// Place all the styles related to the Materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_contaiter{
  background-image: image-url('back.png');
  background-size:cover;
  height: auto;
  opacity: 0.9;
}