.container {
  display: inline-flex; /* or inline-flex */
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
}


.row {
  width: 280px;
  margin-bottom: 30px;
} 

.materials-form{
  display: flex;
}